{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Genre</h3>

    <div class="row card-panel card-color">
        <form class="col s12" method="POST" action="{{ url_for('add_genre')}}">
            <!-- genre name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book-journal-whills prefix"></i>
                    <input id="genre_name" name="genre_name" minlength="2" maxlength="15"
                        type="text" class="validate" required>
                    <label for="genre_name">Genre name</label>
                </div>
            </div>
            <!-- buttons -->
            <div class="row">
                <!-- add genre button -->
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green-btn">
                        Add Genre <i class="fas fa-plus right"></i>
                    </button>
                    <!-- cancel button -->
                    <a href="{{ url_for('get_books') }}" class="orange-btn btn-large">
                        Cancel <i class="fas fa-xmark right"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}