<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Bookworm</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="header-and-footer nav-extended">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_books') }}" class="brand-logo logo"><i class="fa-solid fa-book-open"></i>Bookworm</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_books') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                    <li><a href="#">Manage Genres</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="#">Contact</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
        
        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
                    <li><h4 class="center-align green-text">Bookworm</h4></li>
                    <li><a href="{{ url_for('get_books') }}">Home</a></li>
                {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
                    <li><a href="#">Manage Genres</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="#">Contact</a></li>
                {% endif %}
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

<!-- footer with Scocial Media Links on Right -->
    <footer class="header-and-footer page-footer">
        <div class="container">
            <div class="row center-align">
                <div class="col s12 m12">
                    <a class="" href="https://www.facebook.com" rel="noopener" target="_blank">
                        <i class="fab fa-facebook" aria-hidden="true"></i><span class="icons"></span>
                    </a>
                    <a class="" href="https://www.twitter.com" rel="noopener" target="_blank">
                        <i class="fab fa-twitter" aria-hidden="true"></i><span class="icons"></span>
                    </a>
                    <a class="" href="https://www.instagram.com" rel="noopener" target="_blank">
                        <i class="fab fa-instagram" aria-hidden="true"></i><span class="icons"></span>
                    </a>
                    <a class="" href="https://www.youtube.com" rel="noopener" target="_blank">
                        <i class="fab fa-youtube" aria-hidden="true"></i><span class="icons"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
            © Bookworm 2022
            </div>
        </div>
    </footer>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">
                        <h4 class="light-green lighten-2 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}    
        {% endwith %}
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>