{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Books</h3>

    <!--Book Cover Card-->
    <div class="row">
        {% for book in books %}
        <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ book.cover_url }}" alt="Book Cover for {{ book.title }}">
            </div>
            <div class="card-action">
                <a href="#">Buy</a>
            </div>
        </div>
        </div>

    <!--Book Details Card-->
        <div class="col s12 m6">
            <div class="card card-color">
            <div class="card-content green-text">
                <span class="card-title"><h4>{{ book.title }}</h4></span><br>
                <p><strong>Author: {{ book.author }}</strong></p><br>
                <p><strong>Genre: {{ book.genre_name }}</strong></p><br>
                <p><strong>Synopsis: {{ book.synopsis }}</strong></p>
                <p><em>Added By: {{ book.added_by }}</em></p>
            </div>
            <div class="card-action">
                <a href="#">Buy</a>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}