{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All Books</h3>

    <div class="row card-panel card-color">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-magnifying-glass prefix"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search</label>
                </div>
                <!-- search/reset buttons -->
                <div class="col s12 m4">
                    <a href="{{ url_for('get_books')}}" class="btn orange-btn">Reset</a>
                    <button type="submit" class="btn teal darken-3">
                        <i class ="fas fa-magnifying-glass left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if books|length > 0 %}
    <div class="col s12 m7">
        {% for book in books %}
            <div class="card horizontal valign-wrapper card-color">
                <div class="card-image">
                    <img src="{{ book.cover_url }}" alt="Book Cover for {{ book.title }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="card-title"><h4>{{ book.title }}</h4></div><br>
                        <p><b>Author: </b>{{ book.author }}</p><br>
                        <p><b>Genre: </b>{{ book.genre_name }}</p><br>
                        <p><b>Synopsis: </b>{{ book.synopsis }}</p><br>
                        <p><b>Review: </b>{{ book.review }}</p>
                        <p><b>Rating: </b>{{ book.rating }} / 5</p>
                        <br>
                        <p><em>Added By: {{ book.added_by }}</em></p>
                    </div>
                    <div class="card-action center">
                        <!-- buttons -->
                        {% if session.user|lower == book.added_by|lower or session.user == "admin" %}
                        <!-- edit button -->
                        <a href="{{ url_for('edit_book', book_id=book._id) }}" class="waves-effect waves-light green-btn btn-large">
                        <i class="fas fa-pencil left"></i> Edit </a>    
                        <!-- delete button modal -->
                        <a href="#{{book._id}}" class="waves-effect waves-light orange-btn modal-trigger center-align btn-large">
                            <i class="fas fa-trash-can left"></i>Delete</a>
                            <div id="{{book._id}}" class="modal center-align">
                                <div class="modal-content">
                                <h4>Confirm Deletion</h4>
                                <!-- delete confirmation button -->
                                <a href="{{ url_for('delete_book', book_id=book._id) }}" class="orange-btn btn-large">
                                    <i class="fas fa-trash-can left"></i>Delete</a>  
                                </div>
                                <!-- cancel button -->
                                <div class="modal-footer center-align">
                                <a href="" class="modal-close btn-flat">Cancel</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="flash">
        <h4 class="center-align">No Results Found</h4>
    </div>
    {% endif %}

{% endblock %}        
