{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Contact</h3>
    <h5 class="center-align">
        If you want to get in touch, please complete the form below
    </h5><br>
    <div class="row card-panel card-color">
        <form class="col s12" method="POST" action="{{ url_for('contact')}}">
            <!-- first name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-pen prefix"></i>
                    <input id="first_name" type="text" minlength="2"
                    maxlength="10" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <!-- last name -->    
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-user-pen prefix"></i>
                    <input id="last_name" type="text" minlength="2"
                    maxlength="10" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <!-- email -->
            <div class="row">
                <div class="input-field col s12">
                <i class="fa-solid fa-envelope prefix"></i>
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <!-- comments -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix"></i>
                    <textarea id="comments" name="comments" minlength="5"
                        maxlength="400" class="materialize-textarea validate" required></textarea>
                    <label for="comments">Your Comments</label>
                </div>
            </div>
            <!-- submit -->
            <div class="row center-align">
                <button type="submit" class="btn green-btn" aria-label="send">
                    Send<i class="fa-solid fa-arrow-up-right-from-square"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}