{% block content %}
<div class="col s12 m7">
    {% for book in books %}
        <div class="card horizontal card-color">
            <div class="card-image">
                <img src="{{ book.cover_url }}" alt="Book Cover for {{ book.title }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title"><h4>{{ book.title }}</h4></span><br>
                    <p><b>Author: </b>{{ book.author }}</p><br>
                    <p><b>Genre: </b>{{ book.genre_name }}</strong></p><br>
                    <p><b>Synopsis: </b>{{ book.synopsis }}</strong></p>
                    <br>
                    <p><em>Added By: {{ book.added_by }}</em></p>
                </div>
                <div class="card-action">
                    <!-- buttons -->
                    {% if session.user|lower == book.added_by|lower or session.user == "admin" %}
                    <!-- edit button -->
                    <a href="{{ url_for('edit_book', book_id=book._id) }}" class="waves-effect waves-light teal darken-3 btn-large">
                    <i class="fas fa-pencil left"></i>Edit</a>    
                    <!-- delete button modal -->
                    <a href="#{{book._id}}" class="waves-effect waves-light orange-btn modal-trigger center-align btn-large">
                        <i class="fas fa-trash-can left"></i>Delete</a>
                        <div id="{{book._id}}" class="modal center-align">
                            <div class="modal-content">
                            <h4>Confirm Deletion</h4>
                            <!-- delete confirmation button -->
                            <a href="{{ url_for('delete_book', book_id=book._id) }}" class="waves-effect waves-light orange-btn btn-large">
                                <i class="fas fa-trash-can left"></i>Delete</a>  
                            </div>
                            <!-- cancel button -->
                            <div class="modal-footer center-align">
                            <a href="" class="modal-close btn-flat">Cancel</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}